.login-form-container {
	border: 1px solid black;
	width: 500px;
	height: 300px;
}

.login-form {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.login-form input {
	height: 30px;
	width: 80%;
}

.login-input-div {
	height: 30px;
}

.user-role-container {
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

select {
	height: 30px;
}