.footer {
	height: 18%;
	width: 100%;
	background: rgba(35, 35, 35, 0.7);
}

.contact-container {
	height: 100%;
	width: 100%;
	display: flex;
}

.footer .contact-card {
	width: 300px;
	height: 100%;
	border: 1px solid red;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 10px;
}

.footer h3 {
	margin: 0;
	margin-bottom: 10px;
	font-family: prompt-extra-light;
	color: white;
	font-size: 1.5rem;
}

.footer .icon {
	font-size: 2rem;
	margin: 0 1rem;
	color: white;
}


/* .footer .contact-card {
	border: 1px solid red;
	padding: 0px;
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer h3 {
	margin: 0;
	font-family: prompt-extra-light;
	color: white;
	font-size: 1.5rem;
}

.footer .contact-icons {
	margin-top: 10px;
}

.footer .icon {
	font-size: 2rem;
	margin: 0 1rem;
	color: white;
} */