#appts-table-container {
	border: 1px solid black;
	width: 90%;
	height: 340px;
	padding: 18px
}

#appts-table-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 18px;
}

#appts-table-header h2 {
	margin: 0;
}

#appts-table {
	margin-top: 18px;
	border-collapse: collapse;
	width: 100%;
}

#appts-table th {
  text-align: left;
	padding: 8px;
	background-color: white;
}

#appts-table td {
	border: 1px solid #ddd;
	padding: 8px;
}

#appts-table tr:nth-child(even){
	background-color: #f2f2f2;
}

#appts-table tr:hover {
	background-color: #ddd;
}

#appts-table-container button {
	height: 18px;
	width: 180px;
	border: 1px solid black;
	border-radius: 0;
	background-color: white;
	cursor: pointer;
}