#edit-appt {
	padding: 18px;
	border: 1px solid black;
	height: 100%;
	width: 100%;
}

#edit-appt h2 {
	margin: 0;
}

#edit-appt-form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 300px;
	margin-top: 20px;
}

#edit-appt-form input {
	margin-left: 8px;
}

#edit-appt-time {
	width: 120px;
}

#edit-appt-form button {
	height: 21.33px;
	width: 180px;
	border: 1px solid black;
	border-radius: 0;
	background-color: white;
	cursor: pointer;
}