#patients-drs-table-container {
	border-radius: 15px;
	box-shadow: 0px 1px 2px #888888;
	width: 90%;
	height: 340px;
	padding: 18px;
	overflow-y: scroll;
	background-color: white;
}

#patients-drs-table-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 18px;
}

#patients-drs-table-header h2 {
	margin: 0;
}

#patients-drs-table {
	margin-top: 18px;
	border-collapse: collapse;
	width: 100%;
}

#patients-drs-table th {
  text-align: left;
	padding: 8px;
	background-color: white;
}

#patients-drs-table td {
	border: 1px solid #ddd;
	padding: 8px;
}

#patients-drs-table tr:nth-child(even){
	background-color: #f2f2f2;
}

#patients-drs-table tr:hover {
	background-color: #ddd;
}

#patients-drs-table-container button {
	height: 21.33px;
	/* background-color: white; */
	cursor: pointer;
}

#create-record-btn {
	width: 180px;
	border: none;
	box-shadow: 0px 1px 2px #888888;
	border-radius: 20px;
	background-color: #f2fce8;
}

#patients-drs-table-container .selected {
	background-color: #adff2f; 
}

#show-doctors-btn {
	width: 90px;
	border: none;
	background-color: #f2fce8;
	border-radius: 0 20px 20px 0;
	box-shadow: 0px 1px 2px #888888;
}

#show-patients-btn {
	width: 90px;
	border: none;
	background-color: #f2fce8;
	border-radius: 20px 0 0 20px;
	box-shadow: 0px 1px 2px #888888;
}