#dr-appts-table-container {
	background-color: white;
	border-radius: 15px;
	box-shadow: 0px 1px 2px #888888;
	width: 90%;
	height: 340px;
	padding: 18px
}

#dr-appts-table-container h2 {
	margin: 0 0 18px 0;
}

#dr-appts-table {
	margin-top: 18px;
	border-collapse: collapse;
	width: 100%;
}

#dr-appts-table th {
  text-align: left;
	padding: 8px;
	background-color: white;
}

#dr-appts-table td {
	border: 1px solid #ddd;
	padding: 8px;
}

#dr-appts-table tr:nth-child(even){
	background-color: #f2f2f2;
}

#dr-appts-table tr:hover {
	background-color: #ddd;
}

#dr-appts-table-container button {
	height: 21.33px;
	width: 180px;
	border: 1px solid black;
	border-radius: 0;
	background-color: white;
	cursor: pointer;
}