#dr-portal-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
}

#dr-portal-header {
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 22px;
}

#dr-portal-header h3 {
	margin: 0 0 3px 0;
}

#dr-portal-header button {
	height: 21.33px;
	width: 80px;
	border: none;
	box-shadow: 0px 1px 2px #888888;
	border-radius: 20px;
	background-color: #f2fce8;
	cursor: pointer;
	margin-left: 20px;
}

#dr-left-panel, #dr-right-panel {
	min-width: 500px;
	height: 100%;
	flex-grow: 1;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#dr-left-panel {
	width: 60%;
}

#dr-right-panel {
	width: 40%;
}

.dr-portal-div {
	height: 30px;
}

#dr-display-container {
	height: 710px;
	width: 90%;
}