#patient-display {
	padding: 18px;
	border-radius: 15px;
	box-shadow: 0px 1px 2px #888888;
	background-color: white;
	height: 100%;
	width: 100%;
}

#patient-display h2 {
	margin: 0;
}

#patient-display-line {
	border: 1px solid #d8e3d9;
	margin: 25px 0;
}

#appt-notes {
	border-radius: 15px;
	border: 2px solid #d8e3d9;
	padding: 15px;
	margin: 20px 0;
}

#notes-header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
}

#notes-header {
	font-weight: bold;
	margin: 0;
}

#notes-text {
	margin: 0;
}

#status-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#status-container p {
	margin: 0;
}

#status-container button, #notes-header-container button {
	height: 21.33px;
	width: 100px;
	border: none;
	box-shadow: 0px 1px 2px #888888;
	border-radius: 20px;
	background-color: #f2fce8;
	cursor: pointer;
}

#status-text {
	margin-top: 10px;
}

#edit-status-field {
	margin-top: 15px;
	width: 100%;
}

#edit-notes-field {
	width: 100%;
}

#patient-display-back {
	height: 21.33px;
	width: 180px;
	border: none;
	box-shadow: 0px 1px 2px #888888;
	border-radius: 20px;
	background-color: #f2fce8;
	cursor: pointer;
	margin-top: 30px;
}