#edit-patient {
	padding: 18px;
	border: 1px solid black;
	height: 100%;
	width: 100%;
}

#edit-patient h2 {
	margin: 0;
}

#edit-patient-form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 350px;
	margin-top: 20px;
}

#edit-patient-form input {
	margin-left: 8px;
}

#edit-patient-form button {
	height: 21.33px;
	width: 180px;
	border: 1px solid black;
	border-radius: 0;
	background-color: white;
	cursor: pointer;
}

#edit-patient-errors {
	margin: 0;
	padding-left: 0px;
	width: 80%;
	line-height: 25px;
}

#edit-patient-errors li {
	list-style: none;
	color: red;
}