#edit-patient {
	padding: 18px;
	border-radius: 15px;
	box-shadow: 0px 1px 2px #888888;
	background-color: white;
	height: 100%;
	width: 100%;
}

#edit-patient h2 {
	margin: 0;
}

#edit-patient-form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 350px;
	margin-top: 20px;
}

#edit-patient-form input {
	margin-left: 8px;
}

#edit-patient-form button {
	height: 21.33px;
	width: 180px;
	border: none;
	box-shadow: 0px 1px 2px #888888;
	border-radius: 20px;
	background-color: #f2fce8;
	cursor: pointer;
}

#edit-patient-errors {
	margin: 0;
	padding-left: 0px;
	width: 80%;
	line-height: 25px;
}

#edit-patient-errors li {
	list-style: none;
	color: red;
}