#patient-portal-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
}

#patient-portal-header {
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 22px;
}

#patient-portal-header h3 {
	margin: 0 0 3px 0;
}

#patient-portal-header button {
	height: 21.33px;
	width: 80px;
	border: 1px solid black;
	border-radius: 0;
	background-color: white;
	cursor: pointer;
	margin-left: 20px;
}

#patient-left-panel, #patient-right-panel {
	min-width: 500px;
	height: 100%;
	flex-grow: 1;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#patient-left-panel {
	width: 60%;
}

#patient-right-panel {
	width: 40%;
}

#patient-display-container {
	height: 710px;
	width: 90%;
}