#patient-portal-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
}

#patient-portal-header {
	width: 100%;
	height: 55px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 22px;
}

#patient-portal-header h3 {
	margin: 0 0 3px 0;
}

#patient-portal-header button {
	height: 22px;
	width: 110px;
	border: none;
	box-shadow: 0px 1px 2px #888888;
	border-radius: 20px;
	background-color: #f2fce8;
	cursor: pointer;
	margin-left: 20px;
}

#patient-left-panel, #patient-right-panel {
	min-width: 500px;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#patient-left-panel {
	width: 50%;
}

#patient-right-panel {
	width: 50%;
}

#patient-display-container {
	height: 710px;
	width: 90%;
}

@media screen and (max-width: 1000px) {
  #patient-right-panel {
    margin-top: 30px; 
  }
}